@import 'tailwindcss';
@import './color.css';
@import './text.css';
@import './breakpoint.css';
@import './toast.css';

@media (hover: hover) {
  .hover:underline:hover {
    text-decoration: underline;
  }
}

@custom-variant hover (&:hover);

@layer base {
  html,
  body {
    font-family:
      var(--font-pretendard),
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    color: var(--color-slate-50);
    background-color: var(--color-slate-900);
  }

  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: default;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 헤더에서 사용하는 스크롤바 */
.header-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
.header-scroll::-webkit-scrollbar {
  width: 4px;
}
.header-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.header-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
