/* ========== 폰트 가이드 ========== */
@import 'tailwindcss';

@theme {
  /* Text-4xl */
  --text-4xl-medium: 40px;
  --text-4xl-medium--line-height: 48px;
  --text-4xl-medium--font-weight: 500;

  /* Text-3xl */
  --text-3xl-bold: 32px;
  --text-3xl-bold--line-height: 38px;
  --text-3xl-bold--font-weight: 700;

  --text-3xl-semibold: 32px;
  --text-3xl-semibold--line-height: 38px;
  --text-3xl-semibold--font-weight: 600;

  /* Text-2xl */
  --text-2xl-bold: 24px;
  --text-2xl-bold--line-height: 28px;
  --text-2xl-bold--font-weight: 700;

  --text-2xl-semibold: 24px;
  --text-2xl-semibold--line-height: 28px;
  --text-2xl-semibold--font-weight: 600;

  --text-2xl-medium: 24px;
  --text-2xl-medium--line-height: 28px;
  --text-2xl-medium--font-weight: 500;

  --text-2xl-regular: 24px;
  --text-2xl-regular--line-height: 28px;
  --text-2xl-regular--font-weight: 400;

  /* Text-xl */
  --text-xl-bold: 20px;
  --text-xl-bold--line-height: 24px;
  --text-xl-bold--font-weight: 700;

  --text-xl-semibold: 20px;
  --text-xl-semibold--line-height: 24px;
  --text-xl-semibold--font-weight: 600;

  --text-xl-medium: 20px;
  --text-xl-medium--line-height: 24px;
  --text-xl-medium--font-weight: 500;

  --text-xl-regular: 20px;
  --text-xl-regular--line-height: 24px;
  --text-xl-regular--font-weight: 400;

  /* Text-2lg */
  --text-2lg-bold: 18px;
  --text-2lg-bold--line-height: 21px;
  --text-2lg-bold--font-weight: 700;

  --text-2lg-semibold: 18px;
  --text-2lg-semibold--line-height: 21px;
  --text-2lg-semibold--font-weight: 600;

  --text-2lg-medium: 18px;
  --text-2lg-medium--line-height: 21px;
  --text-2lg-medium--font-weight: 500;

  --text-2lg-regular: 18px;
  --text-2lg-regular--line-height: 21px;
  --text-2lg-regular--font-weight: 400;

  /* Text-lg */
  --text-lg-bold: 16px;
  --text-lg-bold--line-height: 19px;
  --text-lg-bold--font-weight: 700;

  --text-lg-semibold: 16px;
  --text-lg-semibold--line-height: 19px;
  --text-lg-semibold--font-weight: 600;

  --text-lg-medium: 16px;
  --text-lg-medium--line-height: 19px;
  --text-lg-medium--font-weight: 500;

  --text-lg-regular: 16px;
  --text-lg-regular--line-height: 19px;
  --text-lg-regular--font-weight: 400;

  /* Text-md */
  --text-md-bold: 14px;
  --text-md-bold--line-height: 17px;
  --text-md-bold--font-weight: 700;

  --text-md-semibold: 14px;
  --text-md-semibold--line-height: 17px;
  --text-md-semibold--font-weight: 600;

  --text-md-medium: 14px;
  --text-md-medium--line-height: 17px;
  --text-md-medium--font-weight: 500;

  --text-md-regular: 14px;
  --text-md-regular--line-height: 17px;
  --text-md-regular--font-weight: 400;

  /* Text-sm */
  --text-sm-semibold: 13px;
  --text-sm-semibold--line-height: 16px;
  --text-sm-semibold--font-weight: 600;

  --text-sm-medium: 13px;
  --text-sm-medium--line-height: 16px;
  --text-sm-medium--font-weight: 500;

  /* Text-xs */
  --text-xs-semibold: 12px;
  --text-xs-semibold--line-height: 14px;
  --text-xs-semibold--font-weight: 600;

  --text-xs-medium: 12px;
  --text-xs-medium--line-height: 14px;
  --text-xs-medium--font-weight: 500;

  --text-xs-regular: 12px;
  --text-xs-regular--line-height: 14px;
  --text-xs-regular--font-weight: 400;
}
