name: Review Assign

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - uses: hkusu/review-assign-action@v1
        with:
          github-token: ${{ secrets.AUTO_ACTIONS }}
          assignees: ${{ github.actor }}
          reviewers: ARON-Y, hyeonjiroh, jjaneyxx, MySoupRice
          max-num-of-reviewers: 2
